@CHARSET "UTF-8";
/*B-list*/
.Bapply_box {
    width: 1030px;
    padding: 48px 0;
    margin: 0 auto;
}
.Bapply_inner{
	padding: 0px 40px;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
.Bapply_inner ul li label{
	width:150px;
	float:left;
}
#Bapply_box ul.Bapply_list{
	list-style: none;
	
}
#Bapply_box ul li{
	padding: 15px;
}
#Bapply_box ul li input[type="text"],#Bapply_box ul li input[type="email"],#Bapply_box ul li input[type="password"],#Bapply_box ul li input select{
	padding: 7px;	
}
.error-color{
	color:red;
}
.Bapplybutton{
    background: #1e75d6;
    color: #fff;
    vertical-align: middle;
    width:100px;
    height:50px;
    font-size:12pt;
    
}
.align-center{
	text-align: center;
}
.Balign-left{
	text-align:left;
}
.BapplyBtn span{
	display: block;
    height: 18px;
    padding: 0 8px 0 0;
    line-height: 18px;
}
.BapplyBtn, .BapplyBtn a{
	display: inline-block;
    position: relative;
    border: 1px solid #e5e5e5;
    font-family: 'nexonL';
    text-align: center;
    font-size: 12px;
    color: #666;
    background: #fffb
}
/*심사 css*/
.Border_txt {
    margin: -1px;
    font-size: 15px;
    color: #fff;
    background: #999;
}
.Bapply_box ul li label{
	width: 150px;
	float: left;
}
#Bapply_box ol{
	margin:0;
	padding:0;

}
#Bapply_box ol, ul, li {
    list-style: none;
}
.Border_txt li {
    float: left;
    height: 47px;
    line-height: 47px;
    text-align: center;
    background: url(../images/bg_loan_arrow.png) no-repeat 0 0;
}
.Border_txt.type1.align li:first-child {
    width: 19%;
    padding-left: 0;
}
.Border_txt.type1.align li {
    width: 19%;
    padding-left: 10px;
}
.Border_txt.type1 li {
    width: 19%;
}
.Border_txt li:first-child {
    padding-left: 0;
    background: none;
}
.Border_txt:after {
    display: block;
    clear: both;
    content: "";
}
.Border_info {
    text-align: center;
    margin-top: 40px;
}
#Bapply_box div {
    display: block;
}
.Bimg_infor.type1 li {
    margin: 0px;
    display: block;
    width: 19.9%;
    
}
.Bimg_infor li:first-child {
    margin-left: 40px;
}
.Bimg_infor li {
    float: left;
    position: relative;
    margin-left: 80px;
    display: block;
    font-size: 13px;
    color: #666;
}
.Bimg_infor:after {
    display: block;
    clear: both;
    content: "";
}
.Bimg_infor li:before {
    display: block;
    height: 50px;
    margin: 0 auto 10px;
    background: url(../images/sp_apply_step.png) no-repeat 0 0;
    content: "";
}
.Bimg_infor .Bapply:before {
    width: 50px;
    background-position: -206px -57px;
}
.Bimg_infor .Binput:before {
    width: 50px;
    background-position: -152px -57px;
}
.Bimg_infor .Bscreen:before {
    width: 50px;
    background-position: -4px -57px;
}
.Bimg_infor .Bdecide:before {
    width: 50px;
    background-position: -59px -57px;
}
.Bimg_infor .Bcard_receive:before {
    width: 50px;
    background-position: -102px -57px;
}
/*간편신청*/
.Bsimple-footer{
	text-align: inherit;
	font-size: 9pt;
}


/*테이블*/
#BevalTable a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
#BevalTable a:visited {
	color: #666;
	font-weight:bold;
	text-decoration:none;
}
#BevalTable a:active,
a:hover {
	color: #bd5a35;
	text-decoration:underline;
}


#BevalTable table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
#BevalTable table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
#BevalTable table a:active,
#BevalTable table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
#BevalTable table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0 auto;
	box-shadow: 3px 3px 3px #d1d1d1;
}
#BevalTable table th {
	padding:15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#BevalTable table th:first-child{
	text-align: left;
	padding-left:20px;
}
#BevalTable table tr{
	text-align: center;
	padding-left:20px;
}
#BevalTable table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
#BevalTable table tr td {
	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#BevalTable table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#BevalTable table tr:last-child td{
	border-bottom:0;
}
#BevalTable table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
.Bevaluation li{
	margin-left: 200px;
}
