p.eyong{
	border-style: groove;
	background-color: #dddddd;
	width: 100%;
    text-align: auto;
}/*이용 내역*/
div.bun{
	width: 70%;
    margin: auto;
    text-align: right;
}/*분실 신고 버튼*/
div.rok{
	width: 70%;
    margin-left: 110px; 
    text-align: right;  
}/*신고 등록 버튼*/
div.check_zone{
	width: 70%;
    margin: auto;
}
h2,h4{
	margin-left: 120px;
	width: 70%;
	padding-top: 15px;
	padding-bottom: 15px;
}/*분실카드선택 글씨*/
table { 
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}/*테이블*/

td, th { 
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}/*테이블*/

th:nth-child(even),th:nth-child(odd) { 
    background-color: #dddddd;
}/*테이블 최상단*/
div.jub{
	margin-left: 280px; 
}
div.jub1{
	margin: auto;
}
input.day{
	width: 70%;
}
