table, td, th {
    border: 1px solid #ddd;
    text-align: left; 
}

table {
    border-collapse: collapse;
    width: 90%; 
    margin-top: 50px;
    margin-left: 20px;
}
th{
    height: 2px;
    padding: 10px;
    background-color: black;
    color: white;
}
td{
	padding: 1px;
}
div.rok{
	margin-top: 10%;  	
    margin-left: 75%;  
     
}/*저장 정산*/
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
div.pont{
	font-size: 10px;
	margin-top: 15px;
	margin-right: 18px;
}
div.button{
	margin-left: 75%;
	padding-bottom: 1px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
