@CHARSET "UTF-8";

/*sList*/
/*공통사용*/
.y_center{
	text-align:center;
}
.y_left{
	text-align:left;
}
.y_right{
	text-align:right;
}
.y_floatleft{
	float:left;
}
.y_floatright{
	float:right;
}
.y_clear{
	clear:both;
}
.y_div p{
	color:#808080;
}
.y_nexonB{
	font-family:nexonB;
	margin:5px auto;
	font-size:11pt;
}
.y_liketable{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

/*상단메뉴*/
.y_nav_menu{
	border-bottom:1px solid silver;
	position:fixed;
	left:0;
	top:60px;
	background-color:rgba(255,255,255,0.95);
	width:100%;
	min-height:170px;
	z-index:104;
}
.y_div ul{
	list-style:none;
	padding:0;
}
.y_div ul li{
	font-family:nexonl;
	display:inline;
	line-height:37px;
	margin:3px 10px;
}
.y_div ul li a{
	 color:#646464;
}
.y_div ul li > a:hover{
	text-decoration: none;
	color:#0080ff;
}
.y_div ul li > a:focus{
	text-decoration: none;
	color:#0080ff;
	border-bottom:2px solid #0080ff;
}


/*하단리스트*/
.y_nav_content{
	margin:140px 50px 100px 50px;
	min-height:400px;
}
.y_name{
	font-size:14pt;
	display:inline;
	line-height:34px;
}
.y_name a:link, .y_name > a:active, .y_name > a:visited{
	color:#646464;
	text-decoration: none;
}
.y_name > a:hover{
	text-decoration: none;
	color:#0080ff;
}
div.y_card{
	margin:15px 0;
	padding:0 40px;
}
div.y_nocard{
	height:400px;
	width:1200px;
}
div.y_card div{
	min-height:20px;
}
div.y_card img {
	padding:10px 0;
}

.y_button{
	padding: 1px 4px;
	font-size: 10px;
	/* line-height: 1.5; */
	border-radius: 3px;
	margin:5px 0 0 0;
}
.y_button > span{
	color:gray;
}
.y_afee{
	display:inline;
	border:1px solid #ccc;
	border-radius: 4px;
	padding: 1px 7px;
	margin:0;
	font-size: 12px;
	line-height: 1.5;
	cursor:pointer;
	color:gray;
}
#y_compare{
	position: absolute;
	z-index: 1071;
	width:100px;
	height:300px;
	background-color:black;
}


/*툴팁깨짐...빡치면날리고기본쓰자*/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: inline-block;
  font-family: nexonl;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  /* line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0; */

  /* line-break: auto; */
}
.tooltip-inner {
  max-width: 300px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

