@CHARSET "UTF-8";

/*------------------------sList Start------------------------*/
/*공통사용*/
.y_center{
	text-align:center;
}
.y_left{
	text-align:left;
}
.y_right{
	text-align:right;
}
.y_floatleft{
	float:left;
}
.y_floatright{
	float:right;
}
.y_clear{
	clear:both;
}
.y_div p{
	color:#808080;
}
.y_nexonB{
	font-family:nexonB;
	margin:5px auto;
	font-size:11pt;
}
.y_liketable{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

/*상단메뉴*/
.y_nav_menu{
	border-bottom:1px solid silver;
	position:fixed;
	left:0;
	top:60px;
	background-color:rgba(255,255,255,0.95);
	width:100%;
	min-height:170px;
	z-index:104;
}
.y_div ul{
	list-style:none;
	padding:0;
	
}
.y_div ul li{
	font-family:nexonl;
	display:inline;
	line-height:37px;
	margin:3px 10px;
}
.y_div ul li a{
	color:#646464;
}
.y_div ul li > a:hover{
	text-decoration: none;
	color:#0080ff;
}
.y_div ul li > a:focus{
	text-decoration: none;
	color:#0080ff;
	border-bottom:2px solid #0080ff;
}



/*하단카드목록*/
.y_nav_content{
	margin:140px 50px 100px 50px;
	min-height:400px;
}
.y_name{
	font-size:14pt;
	display:inline;
	line-height:34px;
}
.y_name a:link, .y_name > a:active, .y_name > a:visited{
	color:#646464;
	text-decoration: none;
}
.y_name > a:hover{
	text-decoration: none;
	color:#0080ff;
}
div.y_card{
	margin:15px 0;
	padding:0 40px;
}
div.y_nocard{
	height:400px;
	width:1200px;
}
div.y_card div{
	min-height:20px;
	max-width:266px;
}
div.y_card img {
	padding:10px 0;
	
}
.y_card-img1:hover{
	opacity:0.6;
}

.y_img_btndiv{
	border:1px solid red;
	top:0;
	left:0;
	position:absolute;
	margin:0 auto;
	padding:30px 0;
	z-index:1000;
	
}
.y_button{
	padding: 1px 4px;
	font-size: 10px;
	border-radius: 3px;
	margin:5px 0 0 0;
}
.y_button > span{
	color:gray;
}
.y_afee{
	display:inline;
	height:30px;
	border:1px solid #ccc;
	border-radius: 4px;
	padding: 1px 7px;
	margin:0;
	font-size: 12px;
	line-height: 1.5;
	color:gray;
}

/*비교함*/
#y_ccount{
	position:absolute;
	top:7px;
	right:25px;
	z-index:104;
	background-color:rgb(265,74,74);
	color:white;
}
span#y_ccount2{
	font-size:9pt;
}
#y_compare{
	top:60px;
	right:30px;
	position: absolute;
	z-index:110;
	width: 120px;
	height: 300px;
	padding: 0 20px;
	background: #4e4e4e;
}
#y_compare:after {
	content: '';	
	position: absolute;
	border-style: solid;
	border-width: 0 6px 11px;
	border-color: #4e4e4e transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -11px;
	left: 98px;
}
p.y_ctitle{
	width:80px;
	margin:15px auto;
	color:white;
}
.y_cimg{
	margin-bottom:15px;
	width:80px;
	height:51px;
	background-color:black;
	color:white; /*이미지 교체 시 삭제*/
}
#y_cbtn{
	margin-top:4px;
	width:80px;
	height:30px;
	color:#4e4e4e;
}



/*추가-제거버튼툴팁*/
.y_tooltip-top{
	font-size:9pt;
	color:#7F7F7F;
	z-index:1070;
	position: fixed;
	width: 80px;
	height: 20px;
	padding: 0px;
	background: #FFFFFF;
	border: #c0c0c0 solid 1px;
}

.y_tooltip-top:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 2px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -9px;
	left: 38px;
}
.y_tooltip-top:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 2px 0;
	border-color: #c0c0c0 transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -10px;
	left: 38px;
}

/*연회비툴팁*/
.y_tooltip-afee{
	font-size:10pt;
	color:#7F7F7F;
	z-index:1070;
	position: fixed;
	width: 266px;
	padding: 3px;
	background: #FFFFFF;
	border: #c0c0c0 solid 1px;
}

/*------------------------sList End------------------------*/
/*------------------------compareCard Start------------------------*/

.y_compare_header{
	border-bottom:1px solid silver;
	position:fixed;
	left:0;
	top:60px;
	background-color:rgba(255,255,255,0.95);
	width:100%;
	min-height:100px;
	z-index:104;
}
	
/*비교본문*/
.y_compare_content{
	margin:140px 50px 100px 50px;
	min-height:400px;
	border:1px solid red;
}



/*------------------------compareCard End------------------------*/


/*부트스트랩 툴팁*/
.tooltip {
  font-family: nexonl;
  font-size: 12px;
}

/*위로이동버튼*/
.back_to_top{position:fixed;bottom:100px;left:50%;margin-left:380px;text-decoration:none;color:#000000;font-size:12px;padding:1em;display:none;}  
.back_to_top:hover{background-color:rgba(0, 0, 0, 0.50);color:#000;}  

