<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.info.dao.InfoMapper">  

	<select id="getAllList" resultType="infoCommand">		
		SELECT
		  info_id,
		  info_name,
		  info_stitle,
		  info_scontent info_scontent_br,
		  info_img,
		  cp_afee cp_afee_br
		FROM f_info
	</select>
	
	<select id="getSList" parameterType="map" resultType="infoCommand">
		
		SELECT
		  info_id,
		  info_name,
		  info_stitle,
		  info_scontent info_scontent_br,
		  info_img,
		  cp_afee
		FROM f_info
			<where>
				<if test="info_rcm=='' and info_flag==''">
	  				info_rcm IS NOT NULL ORDER BY info_rcm ASC
	  			</if>
	  			<if test="info_rcm=='' and info_flag!=''">
	  				info_flag = #{info_flag} ORDER BY info_order ASC
	  			</if>
	  			<if test="info_rcm!='' and info_flag==''">
	  				info_rcm IS NOT NULL ORDER BY info_rcm ASC
	  			</if>
  			</where>
			
	</select>

</mapper>