<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.MemberMapper">  
	<select id="infoCard" parameterType="map" resultType="InfoCardsCommand">
		${cardUseTable}
	</select>
	<select id="monthPrice" parameterType="map" resultType="Integer">
		${monthPrice}
	</select>
	<select id="usageNumber" parameterType="map" resultType="Integer">
		${usageNumber}
	</select>
	<select id="sumPoint" parameterType="map" resultType="Integer">
		${sumPoint}
	</select>
</mapper>







