<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.donan.dao.GageMapper">  
	<select id="selectBoardList" parameterType="list" resultType="GageCommand">
	SELECT
	card_num,
	ca_reg,
	ca_price,
	ca_spot,
	ca_sort,
	ca_category,
	ca_memo,
	ca_income
	FROM
	f_ca
</select>

</mapper>